body h1 {
  font-family: 'Lobster', Helvetica, Arial, sans-serif; }

body h2 {
  font-family: 'Lobster', Helvetica, Arial, sans-serif; }

body h3 {
  font-family: 'Lobster', Helvetica, Arial, sans-serif; }

.takkar {
  text-align: center; }
